# https://docs.gunicorn.org/en/latest/settings.html#logging
# https://docs.gunicorn.org/en/latest/deploy.html

[Unit]
Description=Gunicorn server for pro project
Requires=gunicorn.socket
After=network.target

[Service]
Environment="DJANGO_SETTINGS_MODULE=pro.settings.production"
EnvironmentFile=/home/x/apps/pro/.env
WorkingDirectory=/home/x/apps/pro
# ExecStart=/home/x/apps/pro/venv/bin/gunicorn pro.wsgi:application
ExecStart=/home/x/apps/pro/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 pro.wsgi:application

Type=notify
# the specific user that our service will run as
User=x
Group=www-data
RuntimeDirectory=gunicorn
Restart=always
TimeoutStartSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
